extends layout

block content
  .row
    h1.lead= title
    .row
      .two.columns

        // Wrapper
        #wrapper
          // IP INFO
          #ipInfo
            h4.lead Info
            p
              strong You:
              span.id('yourIp')= youip
              br
            hr
            h4.lead Rec. Ip
            p
              form(id='ipsave',method='post')
                label(for='comment') comment:
                  br
                  input(id='comment',type='text',value='',placeholder=' - Type your comment - ',name='comment',class='xxwide')
                input(id='host',type='hidden',value='frontend',name='host')
                input(type='submit',value='Rec.')
            hr
      .ten.columns
          // IP LIST
          h4.lead Ip List
          #ipList
            table
              thead
                th Ip
                th Msg
                th Host
                th Date
              tbody
          // /IP LIST

        // /WRAPPER
