<!DOCTYPE html>
<html ng-app="ipSaver">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body ng-view ng-init="myip='<%= youip %>';">
    <script type="text/javascript" src="/javascript/vendor.js"></script>
    <script type="text/javascript" src="/javascript/app.js"></script>
  </body>
</html>
