@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import 'includes/reset';
@import 'includes/fonts';
@import 'includes/colors';

$text-color: $color-primary-1;
$background-color: $color-primary-0;

html,
body {
  margin:0;
  padding:0;
  height:100%;
  overflow-x: hidden;
  background-color : $background-color;
  color: $text-color;
  font-family: $secundary-font;
  font-size: $font-size;
  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
.list {
  color: #000;
}